.planRoute{
    padding: 5%;
    padding-top: 10px;
}

.plan{
    max-width: 400px;
    height: auto !important;
    height: auto !important;
    width: 30%;
    min-width: 200px;
    margin: 3px
}

.plan-grid{
    display: flex;
    width: 100%; 
    flex-wrap: wrap;
    justify-content: center
}

.plan-features-table{
    overflow-x: scroll !important;
}

.plan:nth-child(3n+1), .plan:nth-child(3n+1) .plan-button button{
    background-color: #514712 !important;
}

.plan:nth-child(3n+2), .plan:nth-child(3n+2) .plan-button button{
    background-color: grey !important;
}

.plan:nth-child(3n+3), .plan:nth-child(3n+3) .plan-button button{
    background-color: #cd7f32 !important;
}

.pickPlanText{
    color: grey;
    text-align: center
}

.feature-list{
    margin: -10px;
    line-height: 20px;
    font-size: 90%;
}

.features-table {
    margin-top: 150px;
}

.plan-button{
    margin-top: 10%;
    margin-left: 30%;
}