.child-row1 {
  width: 40%;
  text-align: center;
  margin: 40px 10px;
  /* min-width: 200px; */
}

.child-row2 {
  width: 100%;
  text-align: center;
  margin: 10px;
}

.child-feature-label {
  color: grey;
  font-size: 90%;
}