.download-authy.body{
    background-color: #8080801f;
    /* min-width: 150px; */
}

.download-authy .header{
    margin-bottom: 50px;
    text-align: center;
    color: grey;
}
.download-authy .card{
    background-color: white;
    width: 70%;
    padding: 30px;
    margin: 50px auto;
    max-width: 600px;
    box-shadow: 1px 1px 8px grey;
   
}

.download-authy h2 > img{
    height: 1.2em;
    width: 1.2em;
}


.download-authy .card a{
    color: #3CB878;
}

.download-authy .message{
    color: #303338;
    font-weight: 20px;
    text-align: center;
    line-height: 1.6;
}
.download-authy .download-links{
    text-align: center;
}

.download-authy a > img {
    display: inline;
    width: 10em;
    height: 10em;
    margin: 0 2em;
}
