.pending-orders .content{
    max-height: 300px;
    overflow-y: auto
}

.pending-orders .row{
    display: flex;
    width: 100%;
}

@media(max-width: 720px ){
    .pending-orders .row{
        font-size: 12px;
        font-weight: bold;
    }
}

.pending-orders .col-1{
    width: 50%;
}

.pending-orders .col-2{
    width: 25%;
}

.pending-orders .yellow-background{
    background-color: #b9a223;
}
