.heading{
    margin-top: 2%;
    text-align: center;
    color: rgb(99, 90, 90);
    font-size: 0.8em;
}
.content{
    width: 80%;
    max-width:800px;
    margin: 3% auto;
    min-height: 50vh;
    padding: 4% 1%;
    box-shadow: 0 2px 6px rgb(0,0,0,0.35);
    text-align: center;
    position: relative;
}

.button{
    position: absolute;
    right:2%;
}

.add-new{
    margin-bottom: 6%;
}

.error-text{  
    margin: 5%;
    color: red;
    font-weight: 400;
    font-size: 0.8em;
}
