.invite-users.bodyy{
    position: relative;
    min-height: 250px;
    margin-top: 50px;
    padding: 10px;
}

.users-detail-container{
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 2s;
    animation-duration: 2s;
    -webkit-animation-duration-animation-duration: 2s;
}

.invite-users .user-invite-details, .invite-users .invited-users{
    border: 1px solid #80808029;
    margin: 15px;
    /* margin-top: 20px; */
    padding: 15px;
    border-radius: 10px;
    /* text-align: center; */
    /* display: flex; */
    /* justify-content: center; */
    /* flex-wrap: wrap; */
    border-left-color: darkgray;
}


/* @keyframes slide-in{
    from {opacity: 0;}
    to {opacity: 1;}
} */