.text-input{
    width: 80% !important;
    margin-left: 10%;
    margin-right: 10%;
    /* color: black !important; */
}
.enable-plan-button{
    border: 1px solid #80808070;
    border-radius: 20px;
    background-color: #80808024;
    padding: 10px;
}