.meter-registration.bodyy{
    color:rgb(111, 103, 103);
}

.meter-registration .heading{
    margin: 5% auto;
    text-align: center;
}

.meter-registration .heading h3 {
    font-weight: 600;
}

.meter-registration .center-button{
    text-align: center;
    margin-top: 3%;
}

.meter-registration .right-button{
    text-align: right;
    margin-top: 3%;
}

