
.add-user-dialog #email-input-container{
    margin-top: 20px;
    min-height: 200px;
    background-color: #222;
    color: white;
    border: solid #222 2px;
    border-radius: 5px;
    padding: 100px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

/* @keyframes slide-in{
    from {opacity: 0;}
    to {opacity: 1;}
} */