.active-orders{
    max-height: 300px;
    overflow-y: auto
}

.row{
    display: flex;
    width: 100%;
}

@media(max-width: 720px ){
    .row{
        font-size: 12px;
        font-weight: bold;
    }
}

@media(min-width: 720px ){
    .row{
        font-size: 15px;
    }
}

.col-1{
    width: 50%;
}

.col-2{
    width: 25%;
}

.active-orders-header{
    background-color: #a94141;
}
