.signup.bodyy{
    background-color: #8080801f;
}

.signup .card{
    background-color: white;
    min-height: 400px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 600px;
    border-radius: 2px; 
    box-shadow: grey 2px 1px 10px;
    text-align: center;
    padding: 2%;
}

.signup .input{
    color: grey !important;
}