.footer-app-bar{
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
    min-height: 200px;
    background-color: rgb(33, 33, 33);
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: lighter;

}