
.client-admin-card{
    text-align: center;
    color:rgb(70, 63, 63);
    border-radius: 6px;
    padding: 5px; 

}
.client-admin-card p, h4{
    margin: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}
.add-client-admin .cards-container{
    display: flex;
    flex-flow: wrap;
}

.add-client-admin .close-button{
    text-align: right;
    margin-top: 3%;
    font-size: 1em
}