.account-details-mini-container{
    border: 1px solid #80808029;
    margin: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-left-color: darkgray;
    max-width: 100%
    
}

.account-details-mini-container .payment-status{
    /* width: 27%; */
    min-width: 200px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    animation-duration: 3s;
    -webkit-animation-duration-animation-duration: 3s;
}

.account-details-mini-container .payment-status .actual-status{
    font-size: 200%;
    background-color: white;
    margin-bottom: 20px;
}


.account-details-mini-container .payment-status h3{
    text-align: center;
    color: grey;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: -50px;
    align-items: center;
}

.account-details-mini-container .payment-status span{
    font-size: 20px;
}

@media(min-width : 400px){
   
    
}

@media(max-width : 400px){
   
    
}


.view-payment-details-button{
    color: blueviolet !important;
    border: blueviolet solid 1px !important;
    border-radius: 2px !important;
    /* padding: 4px !important; */
    width: 300px;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}  
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}