.select-energy-plan.bodyy{
    width: 80%;
    background-color: white;
    max-width: 900px;
    padding:10px;
    min-height: 98vh;
    margin:auto;
}

.select-energy-plan .heading{
    color:rgb(111, 103, 103);
    text-align: center;
    font-size: 0.8em;
}

.select-energy-plan .field{
    width:80%;
    max-width: 700px ;
    margin: 30px auto;
}


.select-energy-plan .card{
    text-align: center;
    color:rgb(70, 63, 63);
    margin: 10px auto;
    border-radius: 6px;
    padding: 20px;
    box-shadow: 2px 1px 2px #b3b2b2;
}

.select-energy-plan .rate{
    font-size: 2em;
    margin-right: 0;
}
.select-energy-plan .submit{
    margin: 30px auto;
    width: 80%;
    max-width: 100px;
    margin-left: auto;
    margin-right: auto;
}
