.recent-transaction .row{
    display: flex;
    width: 100%;
}

@media(max-width: 720px ){
    .recent-transaction .row{
        font-size: 12px;
        font-weight: bold;
    }
}


@media(min-width: 720px ){
    .recent-transaction .row{
        font-size: 15px;
    }
}

.recent-transaction .col-1{
    width: 50%;
}

.recent-transaction .col-2{
    width: 25%;
}
.recent-transaction .list{
    max-height: 300px;
    overflow-y: auto
}

.recent-transaction .green-background{
    background-color: #7bea7a73;
}