.profileAvatar{
    /* put to overwrite material-ui default left property for avatars */
    left: auto !important 
}

.avatarList{
    display: flex;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 70px;
}

.sidebar{
    background-color: white;
    min-height: 100%;
    height: auto !important;
}

.sidebar-item{
    color: #373737 !important;
} 

.sidebar-item-link{
    text-decoration: none !important;
} 

.sidebar-item :hover{
    background-color: #8080803d !important;
} 

.sidebar-divider{
    background-color: #8080803d !important;
}

.logout-div{
    margin: 10%;
}

.logout-button{
    transform: translateX(50%);
}

.logout-button button{
    background-color: #373737 !important;
    color: white;
}