.mfa.bodyy{
    background-color: #8080801f;
}

.mfa .card{
    background-color: white;
    box-shadow: 1px 1px 8px grey;
    width:70%;
    max-width: 600px;
    min-width: 470px;
    margin: 50px auto;
    text-align: center;
    padding: 50px 35px;
}

.mfa .card > img{
    display: block;
    margin: 20px auto;
}

.mfa .card > h2{
    color: grey;
    text-align: center;
    margin: 5px;
}

.mfa h2 > img{
    height: 1.2em;
    width: 1.2em;
}
 
.mfa .form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 80px;
    margin-bottom: 10%;
}
