.login.bodyy{
    background-color: #8080801f;
}

.login .card{
    background-color: white;
    min-height: 400px;
    width: 90%;
    margin: 50px auto;
    max-width: 600px;
    border-radius: 2px; 
    box-shadow: grey 2px 1px 10px;
    text-align: center;
    padding: 2%;
}


.login .input{
    color: grey !important;
}