
.create-sell-order.page{
    text-align: center;
    min-height: 100vh;
    
}

.create-sell-order .heading{
    margin-top: 2%;
    text-align: center;
    color: rgb(99, 90, 90);
    font-size: 0.8em;
}


.create-sell-order .card{
    text-align: center;
    color:rgb(70, 63, 63);
    background-color: white;
    margin: 1em auto 2em;
    width: 80%;
    max-width: 700px;
    border-radius: 6px;
    padding: 30px;
    box-shadow: 1px 1px 6px #ccc;
}

.create-sell-order .time-span{
    display: flex;
    align-items: center;
    justify-content: center;
}


.create-sell-order .additional-options h3{
    font-weight: 500;
    font-size: 1.1em;
   
}
.create-sell-order .additional-options:hover{  
    background-color: rgb(245, 241, 241);
    cursor: pointer;
}

.create-sell-order .repeat-frequency{
    display: flex;
    /* justify-content: "space-evenly"; */
    text-align: left;
    margin: 10px 0;
}
