.home-page .header{
    /* width: 100%; */
    background-image: url('http://grit.systems/img/landing-banner-3_3e36d0e0-0e20-49b1-b5b2-f9355c352f57_300x.png');
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    padding: 30px;
    background-color: grey;
    text-align: center;
    color: white;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    animation-duration: 3s;
    -webkit-animation-duration-animation-duration: 3s;
}

