.inviteUsersComponent{
    position: relative;
    min-height: 250px;
    margin-top: 50px;
    padding: 10px;
}

.users-detail-container{
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 2s;
    animation-duration: 2s;
    -webkit-animation-duration-animation-duration: 2s;
}

.inviteUsersComponent .userInviteDetails, .inviteUsersComponent .invitedUsers{
    border: 1px solid #80808029;
    margin: 15px;
    /* margin-top: 20px; */
    padding: 15px;
    border-radius: 10px;
    /* text-align: center; */
    /* display: flex; */
    /* justify-content: center; */
    /* flex-wrap: wrap; */
    border-left-color: darkgray;
}

#emailInputContainer{
    margin-top: 20px;
    min-height: 200px;
    background-color: #222;
    color: white;
    border: solid #222 2px;
    border-radius: 5px;
    padding: 100px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

/* @keyframes slide-in{
    from {opacity: 0;}
    to {opacity: 1;}
} */